# Introduction to Quality Data & Engineering with Python
## Lecture 6 - Tutorial

If you haven't already installed **PostgreSQL**, download and install it from the official website.

https://www.postgresql.org/

### Task1: Install SQLAlchemy.

In [2]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (from SQLAlchemy) (4.8.0)

### Task2: Import SQLAlchemy and pandas libraries to your notebook.

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

### Task3: Define connection parameters to the PostgreSQL database.

These parameters include:

**USERNAME:** Username for accessing the database.

**PASSWORD:** Password for accessing the database.

**HOST:** Hostname or IP address of the database server.

**PORT:** Port number on which the database server is listening.

**DATABASE_NAME:** Name of the database you want to connect to.

In [4]:
USERNAME = 'postgres'
PASSWORD = 'postgres'
HOST = 'localhost'
PORT = 5432
DATABASE_NAME = 'postgres'

In [5]:
database_url = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}'
database_url

'postgresql://postgres:postgres@localhost:5432/postgres'

### Task4: Create a database engine.

Set the echo parameter to True if you want SQLAlchemy to log the database interactions.

In [6]:
engine = create_engine(url = database_url, echo=True)

In [7]:
engine

Engine(postgresql://postgres:***@localhost:5432/postgres)

### Task5: Use the connect() method on the PostgreSQL engine to establish a connection to the database

In [8]:
pg_client_connect = engine.connect()

2024-05-24 11:33:59,118 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-05-24 11:33:59,119 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 11:33:59,122 INFO sqlalchemy.engine.Engine select current_schema()
2024-05-24 11:33:59,124 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 11:33:59,126 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-05-24 11:33:59,127 INFO sqlalchemy.engine.Engine [raw sql] {}

In [9]:
pg_client_connect

### Task6: Create authors table using SQL script shared with you below.

In [10]:
authors_table = """ DROP TABLE if EXISTS authors;
CREATE TABLE authors (
    author_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    specialization VARCHAR(100)
);
"""

In [11]:
with engine.begin() as conn:
    conn.execute(text(authors_table))

2024-05-24 11:37:30,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:37:30,987 INFO sqlalchemy.engine.Engine  DROP TABLE if EXISTS authors;
CREATE TABLE authors (
    author_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    specialization VARCHAR(100)
);

2024-05-24 11:37:30,988 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {}
2024-05-24 11:37:30,999 INFO sqlalchemy.engine.Engine COMMIT

### Task7: Execute the SQL script provided below to insert sample data into the authors table

In [12]:
authors_insert = """
INSERT INTO authors (name, specialization) VALUES
    ('Richard Feynman', 'Physics'),
    ('Brian Greene', 'Physics'),
    ('Steven Hawking', 'Physics'),
    ('Stephen Wolfram', 'Computer Science'),
    ('Claude Shannon', 'Computer Science'),
    ('John McCarthy', 'Computer Science'),
    ('Ada Lovelace', 'Computer Science'),
    ('Alan Turing', 'Computer Science'),
    ('Marie Curie', 'Chemistry'),
    ('Charles Darwin', 'Biology');
"""

In [13]:
with engine.begin() as conn:
    conn.execute(text(authors_insert))

2024-05-24 11:39:13,008 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:39:13,012 INFO sqlalchemy.engine.Engine
INSERT INTO authors (name, specialization) VALUES
    ('Richard Feynman', 'Physics'),
    ('Brian Greene', 'Physics'),
    ('Steven Hawking', 'Physics'),
    ('Stephen Wolfram', 'Computer Science'),
    ('Claude Shannon', 'Computer Science'),
    ('John McCarthy', 'Computer Science'),
    ('Ada Lovelace', 'Computer Science'),
    ('Alan Turing', 'Computer Science'),
    ('Marie Curie', 'Chemistry'),
    ('Charles Darwin', 'Biology');

2024-05-24 11:39:13,016 INFO sqlalchemy.engine.Engine [generated in 0.00322s] {}
2024-05-24 11:39:13,022 INFO sqlalchemy.engine.Engine COMMIT

### Task8: Execute a SELECT query to retrieve all data from the authors table

In [20]:
sql_query = "SELECT * FROM authors"

with engine.begin() as conn:
    result = conn.execute(text(sql_query)).fetchall()

2024-05-24 11:43:24,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:43:24,644 INFO sqlalchemy.engine.Engine SELECT * FROM authors
2024-05-24 11:43:24,645 INFO sqlalchemy.engine.Engine [cached since 9.738s ago] {}
2024-05-24 11:43:24,648 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
result

[(1, 'Richard Feynman', 'Physics'),
 (2, 'Brian Greene', 'Physics'),
 (3, 'Steven Hawking', 'Physics'),
 (4, 'Stephen Wolfram', 'Computer Science'),
 (5, 'Claude Shannon', 'Computer Science'),
 (6, 'John McCarthy', 'Computer Science'),
 (7, 'Ada Lovelace', 'Computer Science'),
 (8, 'Alan Turing', 'Computer Science'),
 (9, 'Marie Curie', 'Chemistry'),
 (10, 'Charles Darwin', 'Biology')]

### Task9: Fetch data from the authors table and convert it to a DataFrame

In [17]:
sql_query = "SELECT * FROM authors"
df = pd.read_sql(sql_query, pg_client_connect)

2024-05-24 11:42:22,159 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 11:42:22,166 INFO sqlalchemy.engine.Engine [cached since 58.74s ago] {'table_name': 'SELECT * FROM authors', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 11:42:22,170 INFO sqlalchemy.engine.Engine SELECT * FROM authors
2024-05-24 11:42:22,171 INFO sqlalchemy.engine.Engine [raw sql] {}

In [18]:
df

   author_id             name    specialization
0          1  Richard Feynman           Physics
1          2     Brian Greene           Physics
2          3   Steven Hawking           Physics
3          4  Stephen Wolfram  Computer Science
4          5   Claude Shannon  Computer Science
5          6    John McCarthy  Computer Science
6          7     Ada Lovelace  Computer Science
7          8      Alan Turing  Computer Science
8          9      Marie Curie         Chemistry
9         10   Charles Darwin           Biology

### Task10: Create the books table using the SQL script provided below

In [22]:
books_table = """ DROP TABLE if EXISTS books;
CREATE TABLE books (
    book_id SERIAL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    publication_year INTEGER,
    author_id INTEGER REFERENCES authors(author_id)
);
"""

In [23]:
with engine.begin() as conn:
    conn.execute(text(books_table))

2024-05-24 11:44:17,902 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:44:17,906 INFO sqlalchemy.engine.Engine  DROP TABLE if EXISTS books;
CREATE TABLE books (
    book_id SERIAL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    publication_year INTEGER,
    author_id INTEGER REFERENCES authors(author_id)
);

2024-05-24 11:44:17,908 INFO sqlalchemy.engine.Engine [generated in 0.00182s] {}
2024-05-24 11:44:17,919 INFO sqlalchemy.engine.Engine COMMIT

### Task11: Execute the SQL script provided below to insert sample data into the books table

In [25]:
books_insert = """
INSERT INTO books (title, publication_year, author_id) VALUES
    ('Surely You are Joking, Mr. Feynman!', 1985, 1),
    ('The Elegant Universe', 1999, 2),
    ('A Brief History of Time', 1988, 3),
    ('A New Kind of Science', 2002, 4),
    ('The Mathematical Theory of Communication', 1948, 5),
    ('Feynman Lectures on Computation', 1996, 1),
    ('Artificial Intelligence: A Modern Approach', 1995, 6),
    ('The Analytical Engine', 1843, 7),
    ('Computing Machinery and Intelligence', 1950, 8),
    ('Radioactive Substances', 1904, 9),
    ('On the Origin of Species', 1859, 10);
"""

In [26]:
with engine.begin() as conn:
    conn.execute(text(books_insert))

2024-05-24 11:44:44,392 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:44:44,395 INFO sqlalchemy.engine.Engine
INSERT INTO books (title, publication_year, author_id) VALUES
    ('Surely You are Joking, Mr. Feynman!', 1985, 1),
    ('The Elegant Universe', 1999, 2),
    ('A Brief History of Time', 1988, 3),
    ('A New Kind of Science', 2002, 4),
    ('The Mathematical Theory of Communication', 1948, 5),
    ('Feynman Lectures on Computation', 1996, 1),
    ('Artificial Intelligence: A Modern Approach', 1995, 6),
    ('The Analytical Engine', 1843, 7),
    ('Computing Machinery and Intelligence', 1950, 8),
    ('Radioactive Substances', 1904, 9),
    ('On the Origin of Species', 1859, 10);

2024-05-24 11:44:44,400 INFO sqlalchemy.engine.Engine [generated in 0.00500s] {}
2024-05-24 11:44:44,407 INFO sqlalchemy.engine.Engine COMMIT

### Task12: Execute a SELECT query to retrieve all data from the books table

In [27]:
sql_query = "SELECT * FROM books"

with engine.begin() as conn:
    result = conn.execute(text(sql_query)).fetchall()
    
result

2024-05-24 11:45:45,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:45:45,230 INFO sqlalchemy.engine.Engine SELECT * FROM books
2024-05-24 11:45:45,231 INFO sqlalchemy.engine.Engine [generated in 0.00130s] {}
2024-05-24 11:45:45,234 INFO sqlalchemy.engine.Engine COMMIT

[(1, 'Surely You are Joking, Mr. Feynman!', 1985, 1),
 (2, 'The Elegant Universe', 1999, 2),
 (3, 'A Brief History of Time', 1988, 3),
 (4, 'A New Kind of Science', 2002, 4),
 (5, 'The Mathematical Theory of Communication', 1948, 5),
 (6, 'Feynman Lectures on Computation', 1996, 1),
 (7, 'Artificial Intelligence: A Modern Approach', 1995, 6),
 (8, 'The Analytical Engine', 1843, 7),
 (9, 'Computing Machinery and Intelligence', 1950, 8),
 (10, 'Radioactive Substances', 1904, 9),
 (11, 'On the Origin of Species', 1859, 10)]

### Task13: Fetch data from the books table and convert it to a DataFrame

In [28]:
sql_query = "SELECT * FROM books"
df = pd.read_sql(sql_query, pg_client_connect)

2024-05-24 11:46:14,881 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 11:46:14,884 INFO sqlalchemy.engine.Engine [cached since 291.5s ago] {'table_name': 'SELECT * FROM books', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 11:46:14,889 INFO sqlalchemy.engine.Engine SELECT * FROM books
2024-05-24 11:46:14,890 INFO sqlalchemy.engine.Engine [raw sql] {}

In [29]:
df

,book_id,title,publication_year,author_id
0,1,"Surely You are Joking, Mr. Feynman!",1985,1
1,2,The Elegant Universe,1999,2
2,3,A Brief History of Time,1988,3
3,4,A New Kind of Science,2002,4
4,5,The Mathematical Theory of Communication,1948,5
5,6,Feynman Lectures on Computation,1996,1
6,7,Artificial Intelligence: A Modern Approach,1995,6
7,8,The Analytical Engine,1843,7
8,9,Computing Machinery and Intelligence,1950,8
9,10,Radioactive Substances,1904,9
10,11,On the Origin of Species,1859,10

### Task14: Execute an SQL query to join the books and authors tables and convert the result to a DataFrame

In [30]:
sql_query = """

SELECT * FROM books
INNER JOIN authors
ON books.author_id = authors.author_id

"""

df_join = pd.read_sql(sql_query, pg_client_connect)

2024-05-24 11:49:24,250 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 11:49:24,252 INFO sqlalchemy.engine.Engine [cached since 480.8s ago] {'table_name': '\n\nSELECT * FROM books\nINNER JOIN authors\nON books.author_id = authors.author_id\n\n', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 11:49:24,259 INFO sqlalchemy.engine.Engine

SELECT * FROM books
INNER JOIN authors
ON books.author_id = authors.author_id


2024-05-24 11:49:24,260 INFO sqlalchemy.engine.Engine [raw sql] {}

In [31]:
df_join

,book_id,title,publication_year,author_id,author_id,name,specialization
0,1,"Surely You are Joking, Mr. Feynman!",1985,1,1,Richard Feynman,Physics
1,2,The Elegant Universe,1999,2,2,Brian Greene,Physics
2,3,A Brief History of Time,1988,3,3,Steven Hawking,Physics
3,4,A New Kind of Science,2002,4,4,Stephen Wolfram,Computer Science
4,5,The Mathematical Theory of Communication,1948,5,5,Claude Shannon,Computer Science
5,6,Feynman Lectures on Computation,1996,1,1,Richard Feynman,Physics
6,7,Artificial Intelligence: A Modern Approach,1995,6,6,John McCarthy,Computer Science
7,8,The Analytical Engine,1843,7,7,Ada Lovelace,Computer Science
8,9,Computing Machinery and Intelligence,1950,8,8,Alan Turing,Computer Science
9,10,Radioactive Substances,1904,9,9,Marie Curie,Chemistry
10,11,On the Origin of Species,1859,10,10,Charles Darwin,Biology

### Task15: Execute an SQL query to list of books written by Richard Feynman as a DataFrame

In [32]:
sql_query = """
SELECT name, title, publication_year FROM books b
INNER JOIN authors a
ON b.author_id = a.author_id
WHERE name = 'Richard Feynman'
"""
df_feynman = pd.read_sql(sql_query, engine)

2024-05-24 11:50:50,002 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 11:50:50,006 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 11:50:50,007 INFO sqlalchemy.engine.Engine [cached since 566.6s ago] {'table_name': "\nSELECT name, title, publication_year FROM books b\nINNER JOIN authors a\nON b.author_id = a.author_id\nWHERE name = 'Richard Feynman'\n", 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 11:50:50,018 INFO sqlalchemy.engine.Engine
SELECT name, title, publication_year FROM books b
INNER JOIN authors a
ON b.author_id = a.author_id
WHERE name = 'Richard Feynman'

2024-05-24 11:50:50,019 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 11:50:50,026 INFO sqlalchemy.engine.Engine ROLLBACK

In [33]:
df_feynman

              name                                title  publication_year
0  Richard Feynman  Surely You are Joking, Mr. Feynman!              1985
1  Richard Feynman      Feynman Lectures on Computation              1996

### Task16:  Close the connection to the PostgreSQL database

In [35]:
pg_client_connect.close()

2024-05-24 11:51:45,849 INFO sqlalchemy.engine.Engine ROLLBACK

### Task17: Load the Northwind Database to PostgreSQL

https://tubcloud.tu-berlin.de/s/5rcomMN7p4QHE7x/download/northwind_postgre.sql

hint: psql -h hostname -d databasename -U username -f file.sql or with query

#### Meta commands

psql --host=localhost --username=postgres  --dbname=tuberlin

Meta commands are there to make live for a database administrator easier. Meta commands always start with a backslash (“\”) often followed by just one single character:

- \h (or \help)	displays all commands

- \h CREATE DATABASE	displays help on a specific command

- \l	list all databases

- \du	displays all users

- \c (or \connect) dbname	connect (or switch) to db called dbname

- \dt (just \d also works)	display all tables within selected db

- \i	insert records from dump

- \q	quit psql shell

In [36]:
from dotenv import load_dotenv
import os

load_dotenv()

USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
HOST = os.getenv("HOST")
PORT = os.getenv("PORT")
DATABASE_NAME = os.getenv("DATABASE_NAME")

database_url = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}'

engine = create_engine(url=database_url, echo=True)

In [37]:
sql_query = "SELECT * FROM region"

In [38]:
df = pd.read_sql(sql_query, engine)

2024-05-24 12:05:16,101 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-05-24 12:05:16,102 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 12:05:16,110 INFO sqlalchemy.engine.Engine select current_schema()
2024-05-24 12:05:16,111 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 12:05:16,121 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-05-24 12:05:16,122 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 12:05:16,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 12:05:16,129 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 12:05:16,130 INFO sqlalchemy.engine.Engine [generated in 0.00263s] {'table_name': 'SELECT * FROM region', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 12:05:16,137 INFO sqlalchemy.engine.Engine SELECT * FROM region
2024-05-24 12:05:16,138 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 12:05:16,143 INFO sqlalchemy.engine.Engine ROLLBACK

In [39]:
df

   regionid regiondescription
0         1           Eastern
1         2           Western
2         3          Northern
3         4          Southern

### Task18: Extract order information including order ID, customer contact name, and order date by performing an SQL query that joins the "Orders" table with the "Customers" table on the basis of customer IDs

In [42]:
sql_query = """

SELECT orders.orderid, customers.contactname, orders.orderdate FROM orders
INNER JOIN customers
ON customers.customerid = orders.customerid

"""

In [43]:
df = pd.read_sql(sql_query, engine)
df

2024-05-24 12:09:57,913 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-24 12:09:57,920 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-24 12:09:57,921 INFO sqlalchemy.engine.Engine [cached since 281.8s ago] {'table_name': '\n\nSELECT orders.orderid, customers.contactname, orders.orderdate FROM orders\nINNER JOIN customers\nON customers.customerid = orders.customerid\n\n', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-24 12:09:57,926 INFO sqlalchemy.engine.Engine

SELECT orders.orderid, customers.contactname, orders.orderdate FROM orders
INNER JOIN customers
ON customers.customerid = orders.customerid


2024-05-24 12:09:57,927 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-24 12:09:57,934 INFO sqlalchemy.engine.Engine ROLLBACK

     orderid          contactname   orderdate
0      10248         Paul Henriot  1996-07-04
1      10249        Karin Josephs  1996-07-05
2      10250         Mario Pontes  1996-07-08
3      10251         Mary Saveley  1996-07-08
4      10252     Pascale Cartrain  1996-07-09
..       ...                  ...         ...
825    11073  Guillermo Fernández  1998-05-05
826    11074       Jytte Petersen  1998-05-06
827    11075         Michael Holz  1998-05-06
828    11076     Laurence Lebihan  1998-05-06
829    11077         Paula Wilson  1998-05-06

[830 rows x 3 columns]

### Task18: Install requests library if not installed, then import it.

In [44]:
!pip install requests

Requirement already satisfied: requests in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (from requests) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ugursaricam/anaconda3/lib/python3.10/site-packages (from requests) (2024.2.2)

In [45]:
import requests

### Task19: Send a GET request to retrieve posts URL ("https://jsonplaceholder.typicode.com/posts").

You must check the response code 200 (<Response [200]>).

In [46]:
url = "https://jsonplaceholder.typicode.com/posts"

In [47]:
response = requests.get(url)

In [48]:
response

### Task20: If the response status code 200, convert response to JSON.

In [49]:
posts = response.json()

In [50]:
posts

[{'userId': 1,
  'id': 1,
  'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
  'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'},
 {'userId': 1,
  'id': 2,
  'title': 'qui est esse',
  'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'},
 {'userId': 1,
  'id': 3,
  'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut',
  'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'},
 {'userId': 1,
  'id': 4,
  'title': 'eum et est occaecati',
  'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'},
 {'userId': 1,
  'id': 5,
  'title': 'nesciunt quas odio',
  'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'},
 {'userId': 1,
  'id': 6,
  'title': 'dolorem eum magni eos aperiam quia',
  'body': 'ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae'},
 {'userId': 1,
  'id': 7,
  'title': 'magnam facilis autem',
  'body': 'dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas'},
 {'userId': 1,
  'id': 8,
  'title': 'dolorem dolore est ipsam',
  'body': 'dignissimos aperiam dolorem qui eum\nfacilis quibusdam animi sint suscipit qui sint possimus cum\nquaerat magni maiores excepturi\nipsam ut commodi dolor voluptatum modi aut vitae'},
 {'userId': 1,
  'id': 9,
  'title': 'nesciunt iure omnis dolorem tempora et accusantium',
  'body': 'consectetur animi nesciunt iure dolore\nenim quia ad\nveniam autem ut quam aut nobis\net est aut quod aut provident voluptas autem voluptas'},
 {'userId': 1,
  'id': 10,
  'title': 'optio molestias id quia eum',
  'body': 'quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error'},
 {'userId': 2,
  'id': 11,
  'title': 'et ea vero quia laudantium autem',
  'body': 'delectus reiciendis molestiae occaecati non minima eveniet qui voluptatibus\naccusamus in eum beatae sit\nvel qui neque voluptates ut commodi qui incidunt\nut animi commodi'},
 {'userId': 2,
  'id': 12,
  'title': 'in quibusdam tempore odit est dolorem',
  'body': 'itaque id aut magnam\npraesentium quia et ea odit et ea voluptas et\nsapiente quia nihil amet occaecati quia id voluptatem\nincidunt ea est distinctio odio'},
 {'userId': 2,
  'id': 13,
  'title': 'dolorum ut in voluptas mollitia et saepe quo animi',
  'body': 'aut dicta possimus sint mollitia voluptas commodi quo doloremque\niste corrupti reiciendis voluptatem eius rerum\nsit cumque quod eligendi laborum minima\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam'},
 {'userId': 2,
  'id': 14,
  'title': 'voluptatem eligendi optio',
  'body': 'fuga et accusamus dolorum perferendis illo voluptas\nnon doloremque neque facere\nad qui dolorum molestiae beatae\nsed aut voluptas totam sit illum'},
 {'userId': 2,
  'id': 15,
  'title': 'eveniet quod temporibus',
  'body': 'reprehenderit quos placeat\nvelit minima officia dolores impedit repudiandae molestiae nam\nvoluptas recusandae quis delectus\nofficiis harum fugiat vitae'},
 {'userId': 2,
  'id': 16,
  'title': 'sint suscipit perspiciatis velit dolorum rerum ipsa laboriosam odio',
  'body': 'suscipit nam nisi quo aperiam aut\nasperiores eos fugit maiores voluptatibus quia\nvoluptatem quis ullam qui in alias quia est\nconsequatur magni mollitia accusamus ea nisi voluptate dicta'},
 {'userId': 2,
  'id': 17,
  'title': 'fugit voluptas sed molestias voluptatem provident',
  'body': 'eos voluptas et aut odit natus earum\naspernatur fuga molestiae ullam\ndeserunt ratione qui eos\nqui nihil ratione nemo velit ut aut id quo'},
 {'userId': 2,
  'id': 18,
  'title': 'voluptate et itaque vero tempora molestiae',
  'body': 'eveniet quo quis\nlaborum totam consequatur non dolor\nut et est repudiandae\nest voluptatem vel debitis et magnam'},
 {'userId': 2,
  'id': 19,
  'title': 'adipisci placeat illum aut reiciendis qui',
  'body': 'illum quis cupiditate provident sit magnam\nea sed aut omnis\nveniam maiores ullam consequatur atque\nadipisci quo iste expedita sit quos voluptas'},
 {'userId': 2,
  'id': 20,
  'title': 'doloribus ad provident suscipit at',
  'body': 'qui consequuntur ducimus possimus quisquam amet similique\nsuscipit porro ipsam amet\neos veritatis officiis exercitationem vel fugit aut necessitatibus totam\nomnis rerum consequatur expedita quidem cumque explicabo'},
 {'userId': 3,
  'id': 21,
  'title': 'asperiores ea ipsam voluptatibus modi minima quia sint',
  'body': 'repellat aliquid praesentium dolorem quo\nsed totam minus non itaque\nnihil labore molestiae sunt dolor eveniet hic recusandae veniam\ntempora et tenetur expedita sunt'},
 {'userId': 3,
  'id': 22,
  'title': 'dolor sint quo a velit explicabo quia nam',
  'body': 'eos qui et ipsum ipsam suscipit aut\nsed omnis non odio\nexpedita earum mollitia molestiae aut atque rem suscipit\nnam impedit esse'},
 {'userId': 3,
  'id': 23,
  'title': 'maxime id vitae nihil numquam',
  'body': 'veritatis unde neque eligendi\nquae quod architecto quo neque vitae\nest illo sit tempora doloremque fugit quod\net et vel beatae sequi ullam sed tenetur perspiciatis'},
 {'userId': 3,
  'id': 24,
  'title': 'autem hic labore sunt dolores incidunt',
  'body': 'enim et ex nulla\nomnis voluptas quia qui\nvoluptatem consequatur numquam aliquam sunt\ntotam recusandae id dignissimos aut sed asperiores deserunt'},
 {'userId': 3,
  'id': 25,
  'title': 'rem alias distinctio quo quis',
  'body': 'ullam consequatur ut\nomnis quis sit vel consequuntur\nipsa eligendi ipsum molestiae et omnis error nostrum\nmolestiae illo tempore quia et distinctio'},
 {'userId': 3,
  'id': 26,
  'title': 'est et quae odit qui non',
  'body': 'similique esse doloribus nihil accusamus\nomnis dolorem fuga consequuntur reprehenderit fugit recusandae temporibus\nperspiciatis cum ut laudantium\nomnis aut molestiae vel vero'},
 {'userId': 3,
  'id': 27,
  'title': 'quasi id et eos tenetur aut quo autem',
  'body': 'eum sed dolores ipsam sint possimus debitis occaecati\ndebitis qui qui et\nut placeat enim earum aut odit facilis\nconsequatur suscipit necessitatibus rerum sed inventore temporibus consequatur'},
 {'userId': 3,
  'id': 28,
  'title': 'delectus ullam et corporis nulla voluptas sequi',
  'body': 'non et quaerat ex quae ad maiores\nmaiores recusandae totam aut blanditiis mollitia quas illo\nut voluptatibus voluptatem\nsimilique nostrum eum'},
 {'userId': 3,
  'id': 29,
  'title': 'iusto eius quod necessitatibus culpa ea',
  'body': 'odit magnam ut saepe sed non qui\ntempora atque nihil\naccusamus illum doloribus illo dolor\neligendi repudiandae odit magni similique sed cum maiores'},
 {'userId': 3,
  'id': 30,
  'title': 'a quo magni similique perferendis',
  'body': 'alias dolor cumque\nimpedit blanditiis non eveniet odio maxime\nblanditiis amet eius quis tempora quia autem rem\na provident perspiciatis quia'},
 {'userId': 4,
  'id': 31,
  'title': 'ullam ut quidem id aut vel consequuntur',
  'body': 'debitis eius sed quibusdam non quis consectetur vitae\nimpedit ut qui consequatur sed aut in\nquidem sit nostrum et maiores adipisci atque\nquaerat voluptatem adipisci repudiandae'},
 {'userId': 4,
  'id': 32,
  'title': 'doloremque illum aliquid sunt',
  'body': 'deserunt eos nobis asperiores et hic\nest debitis repellat molestiae optio\nnihil ratione ut eos beatae quibusdam distinctio maiores\nearum voluptates et aut adipisci ea maiores voluptas maxime'},
 {'userId': 4,
  'id': 33,
  'title': 'qui explicabo molestiae dolorem',
  'body': 'rerum ut et numquam laborum odit est sit\nid qui sint in\nquasi tenetur tempore aperiam et quaerat qui in\nrerum officiis sequi cumque quod'},
 {'userId': 4,
  'id': 34,
  'title': 'magnam ut rerum iure',
  'body': 'ea velit perferendis earum ut voluptatem voluptate itaque iusto\ntotam pariatur in\nnemo voluptatem voluptatem autem magni tempora minima in\nest distinctio qui assumenda accusamus dignissimos officia nesciunt nobis'},
 {'userId': 4,
  'id': 35,
  'title': 'id nihil consequatur molestias animi provident',
  'body': 'nisi error delectus possimus ut eligendi vitae\nplaceat eos harum cupiditate facilis reprehenderit voluptatem beatae\nmodi ducimus quo illum voluptas eligendi\net nobis quia fugit'},
 {'userId': 4,
  'id': 36,
  'title': 'fuga nam accusamus voluptas reiciendis itaque',
  'body': 'ad mollitia et omnis minus architecto odit\nvoluptas doloremque maxime aut non ipsa qui alias veniam\nblanditiis culpa aut quia nihil cumque facere et occaecati\nqui aspernatur quia eaque ut aperiam inventore'},
 {'userId': 4,
  'id': 37,
  'title': 'provident vel ut sit ratione est',
  'body': 'debitis et eaque non officia sed nesciunt pariatur vel\nvoluptatem iste vero et ea\nnumquam aut expedita ipsum nulla in\nvoluptates omnis consequatur aut enim officiis in quam qui'},
 {'userId': 4,
  'id': 38,
  'title': 'explicabo et eos deleniti nostrum ab id repellendus',
  'body': 'animi esse sit aut sit nesciunt assumenda eum voluptas\nquia voluptatibus provident quia necessitatibus ea\nrerum repudiandae quia voluptatem delectus fugit aut id quia\nratione optio eos iusto veniam iure'},
 {'userId': 4,
  'id': 39,
  'title': 'eos dolorem iste accusantium est eaque quam',
  'body': 'corporis rerum ducimus vel eum accusantium\nmaxime aspernatur a porro possimus iste omnis\nest in deleniti asperiores fuga aut\nvoluptas sapiente vel dolore minus voluptatem incidunt ex'},
 {'userId': 4,
  'id': 40,
  'title': 'enim quo cumque',
  'body': 'ut voluptatum aliquid illo tenetur nemo sequi quo facilis\nipsum rem optio mollitia quas\nvoluptatem eum voluptas qui\nunde omnis voluptatem iure quasi maxime voluptas nam'},
 {'userId': 5,
  'id': 41,
  'title': 'non est facere',
  'body': 'molestias id nostrum\nexcepturi molestiae dolore omnis repellendus quaerat saepe\nconsectetur iste quaerat tenetur asperiores accusamus ex ut\nnam quidem est ducimus sunt debitis saepe'},
 {'userId': 5,
  'id': 42,
  'title': 'commodi ullam sint et excepturi error explicabo praesentium voluptas',
  'body': 'odio fugit voluptatum ducimus earum autem est incidunt voluptatem\nodit reiciendis aliquam sunt sequi nulla dolorem\nnon facere repellendus voluptates quia\nratione harum vitae ut'},
 {'userId': 5,
  'id': 43,
  'title': 'eligendi iste nostrum consequuntur adipisci praesentium sit beatae perferendis',
  'body': 'similique fugit est\nillum et dolorum harum et voluptate eaque quidem\nexercitationem quos nam commodi possimus cum odio nihil nulla\ndolorum exercitationem magnam ex et a et distinctio debitis'},
 {'userId': 5,
  'id': 44,
  'title': 'optio dolor molestias sit',
  'body': 'temporibus est consectetur dolore\net libero debitis vel velit laboriosam quia\nipsum quibusdam qui itaque fuga rem aut\nea et iure quam sed maxime ut distinctio quae'},
 {'userId': 5,
  'id': 45,
  'title': 'ut numquam possimus omnis eius suscipit laudantium iure',
  'body': 'est natus reiciendis nihil possimus aut provident\nex et dolor\nrepellat pariatur est\nnobis rerum repellendus dolorem autem'},
 {'userId': 5,
  'id': 46,
  'title': 'aut quo modi neque nostrum ducimus',
  'body': 'voluptatem quisquam iste\nvoluptatibus natus officiis facilis dolorem\nquis quas ipsam\nvel et voluptatum in aliquid'},
 {'userId': 5,
  'id': 47,
  'title': 'quibusdam cumque rem aut deserunt',
  'body': 'voluptatem assumenda ut qui ut cupiditate aut impedit veniam\noccaecati nemo illum voluptatem laudantium\nmolestiae beatae rerum ea iure soluta nostrum\neligendi et voluptate'},
 {'userId': 5,
  'id': 48,
  'title': 'ut voluptatem illum ea doloribus itaque eos',
  'body': 'voluptates quo voluptatem facilis iure occaecati\nvel assumenda rerum officia et\nillum perspiciatis ab deleniti\nlaudantium repellat ad ut et autem reprehenderit'},
 {'userId': 5,
  'id': 49,
  'title': 'laborum non sunt aut ut assumenda perspiciatis voluptas',
  'body': 'inventore ab sint\nnatus fugit id nulla sequi architecto nihil quaerat\neos tenetur in in eum veritatis non\nquibusdam officiis aspernatur cumque aut commodi aut'},
 {'userId': 5,
  'id': 50,
  'title': 'repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem',
  'body': 'error suscipit maxime adipisci consequuntur recusandae\nvoluptas eligendi et est et voluptates\nquia distinctio ab amet quaerat molestiae et vitae\nadipisci impedit sequi nesciunt quis consectetur'},
 {'userId': 6,
  'id': 51,
  'title': 'soluta aliquam aperiam consequatur illo quis voluptas',
  'body': 'sunt dolores aut doloribus\ndolore doloribus voluptates tempora et\ndoloremque et quo\ncum asperiores sit consectetur dolorem'},
 {'userId': 6,
  'id': 52,
  'title': 'qui enim et consequuntur quia animi quis voluptate quibusdam',
  'body': 'iusto est quibusdam fuga quas quaerat molestias\na enim ut sit accusamus enim\ntemporibus iusto accusantium provident architecto\nsoluta esse reprehenderit qui laborum'},
 {'userId': 6,
  'id': 53,
  'title': 'ut quo aut ducimus alias',
  'body': 'minima harum praesentium eum rerum illo dolore\nquasi exercitationem rerum nam\nporro quis neque quo\nconsequatur minus dolor quidem veritatis sunt non explicabo similique'},
 {'userId': 6,
  'id': 54,
  'title': 'sit asperiores ipsam eveniet odio non quia',
  'body': 'totam corporis dignissimos\nvitae dolorem ut occaecati accusamus\nex velit deserunt\net exercitationem vero incidunt corrupti mollitia'},
 {'userId': 6,
  'id': 55,
  'title': 'sit vel voluptatem et non libero',
  'body': 'debitis excepturi ea perferendis harum libero optio\neos accusamus cum fuga ut sapiente repudiandae\net ut incidunt omnis molestiae\nnihil ut eum odit'},
 {'userId': 6,
  'id': 56,
  'title': 'qui et at rerum necessitatibus',
  'body': 'aut est omnis dolores\nneque rerum quod ea rerum velit pariatur beatae excepturi\net provident voluptas corrupti\ncorporis harum reprehenderit dolores eligendi'},
 {'userId': 6,
  'id': 57,
  'title': 'sed ab est est',
  'body': 'at pariatur consequuntur earum quidem\nquo est laudantium soluta voluptatem\nqui ullam et est\net cum voluptas voluptatum repellat est'},
 {'userId': 6,
  'id': 58,
  'title': 'voluptatum itaque dolores nisi et quasi',
  'body': 'veniam voluptatum quae adipisci id\net id quia eos ad et dolorem\naliquam quo nisi sunt eos impedit error\nad similique veniam'},
 {'userId': 6,
  'id': 59,
  'title': 'qui commodi dolor at maiores et quis id accusantium',
  'body': 'perspiciatis et quam ea autem temporibus non voluptatibus qui\nbeatae a earum officia nesciunt dolores suscipit voluptas et\nanimi doloribus cum rerum quas et magni\net hic ut ut commodi expedita sunt'},
 {'userId': 6,
  'id': 60,
  'title': 'consequatur placeat omnis quisquam quia reprehenderit fugit veritatis facere',
  'body': 'asperiores sunt ab assumenda cumque modi velit\nqui esse omnis\nvoluptate et fuga perferendis voluptas\nillo ratione amet aut et omnis'},
 {'userId': 7,
  'id': 61,
  'title': 'voluptatem doloribus consectetur est ut ducimus',
  'body': 'ab nemo optio odio\ndelectus tenetur corporis similique nobis repellendus rerum omnis facilis\nvero blanditiis debitis in nesciunt doloribus dicta dolores\nmagnam minus velit'},
 {'userId': 7,
  'id': 62,
  'title': 'beatae enim quia vel',
  'body': 'enim aspernatur illo distinctio quae praesentium\nbeatae alias amet delectus qui voluptate distinctio\nodit sint accusantium autem omnis\nquo molestiae omnis ea eveniet optio'},
 {'userId': 7,
  'id': 63,
  'title': 'voluptas blanditiis repellendus animi ducimus error sapiente et suscipit',
  'body': 'enim adipisci aspernatur nemo\nnumquam omnis facere dolorem dolor ex quis temporibus incidunt\nab delectus culpa quo reprehenderit blanditiis asperiores\naccusantium ut quam in voluptatibus voluptas ipsam dicta'},
 {'userId': 7,
  'id': 64,
  'title': 'et fugit quas eum in in aperiam quod',
  'body': 'id velit blanditiis\neum ea voluptatem\nmolestiae sint occaecati est eos perspiciatis\nincidunt a error provident eaque aut aut qui'},
 {'userId': 7,
  'id': 65,
  'title': 'consequatur id enim sunt et et',
  'body': 'voluptatibus ex esse\nsint explicabo est aliquid cumque adipisci fuga repellat labore\nmolestiae corrupti ex saepe at asperiores et perferendis\nnatus id esse incidunt pariatur'},
 {'userId': 7,
  'id': 66,
  'title': 'repudiandae ea animi iusto',
  'body': 'officia veritatis tenetur vero qui itaque\nsint non ratione\nsed et ut asperiores iusto eos molestiae nostrum\nveritatis quibusdam et nemo iusto saepe'},
 {'userId': 7,
  'id': 67,
  'title': 'aliquid eos sed fuga est maxime repellendus',
  'body': 'reprehenderit id nostrum\nvoluptas doloremque pariatur sint et accusantium quia quod aspernatur\net fugiat amet\nnon sapiente et consequatur necessitatibus molestiae'},
 {'userId': 7,
  'id': 68,
  'title': 'odio quis facere architecto reiciendis optio',
  'body': 'magnam molestiae perferendis quisquam\nqui cum reiciendis\nquaerat animi amet hic inventore\nea quia deleniti quidem saepe porro velit'},
 {'userId': 7,
  'id': 69,
  'title': 'fugiat quod pariatur odit minima',
  'body': 'officiis error culpa consequatur modi asperiores et\ndolorum assumenda voluptas et vel qui aut vel rerum\nvoluptatum quisquam perspiciatis quia rerum consequatur totam quas\nsequi commodi repudiandae asperiores et saepe a'},
 {'userId': 7,
  'id': 70,
  'title': 'voluptatem laborum magni',
  'body': 'sunt repellendus quae\nest asperiores aut deleniti esse accusamus repellendus quia aut\nquia dolorem unde\neum tempora esse dolore'},
 {'userId': 8,
  'id': 71,
  'title': 'et iusto veniam et illum aut fuga',
  'body': 'occaecati a doloribus\niste saepe consectetur placeat eum voluptate dolorem et\nqui quo quia voluptas\nrerum ut id enim velit est perferendis'},
 {'userId': 8,
  'id': 72,
  'title': 'sint hic doloribus consequatur eos non id',
  'body': 'quam occaecati qui deleniti consectetur\nconsequatur aut facere quas exercitationem aliquam hic voluptas\nneque id sunt ut aut accusamus\nsunt consectetur expedita inventore velit'},
 {'userId': 8,
  'id': 73,
  'title': 'consequuntur deleniti eos quia temporibus ab aliquid at',
  'body': 'voluptatem cumque tenetur consequatur expedita ipsum nemo quia explicabo\naut eum minima consequatur\ntempore cumque quae est et\net in consequuntur voluptatem voluptates aut'},
 {'userId': 8,
  'id': 74,
  'title': 'enim unde ratione doloribus quas enim ut sit sapiente',
  'body': 'odit qui et et necessitatibus sint veniam\nmollitia amet doloremque molestiae commodi similique magnam et quam\nblanditiis est itaque\nquo et tenetur ratione occaecati molestiae tempora'},
 {'userId': 8,
  'id': 75,
  'title': 'dignissimos eum dolor ut enim et delectus in',
  'body': 'commodi non non omnis et voluptas sit\nautem aut nobis magnam et sapiente voluptatem\net laborum repellat qui delectus facilis temporibus\nrerum amet et nemo voluptate expedita adipisci error dolorem'},
 {'userId': 8,
  'id': 76,
  'title': 'doloremque officiis ad et non perferendis',
  'body': 'ut animi facere\ntotam iusto tempore\nmolestiae eum aut et dolorem aperiam\nquaerat recusandae totam odio'},
 {'userId': 8,
  'id': 77,
  'title': 'necessitatibus quasi exercitationem odio',

### Task 21: Create a DataFrame from the JSON response and print the titles of the posts.

In [51]:
df = pd.DataFrame(posts)

In [52]:
df

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

### Bonus

In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "http://quotes.toscrape.com/"
response = requests.get(url)

if response.status_code == 200:
    page_content = response.content
    soup = BeautifulSoup(page_content, 'html.parser')
    
    quotes = soup.find_all('div', class_='quote')
    
    data = []
    
    for quote in quotes:
        text = quote.find('span', class_='text').get_text()
        author = quote.find('small', class_='author').get_text()
        data.append({'Quote':text, 'Author':author})
        
    df = pd.DataFrame(data)
    print(df)
    
else:
    print("Failed...")

                                               Quote             Author
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [62]:
df

                                               Quote             Author
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

In [ ]:
import requests
import re
import pandas as pd

# URL of the website to scrape
url = "http://quotes.toscrape.com/"

# Send a GET request to the website
response = requests.get(url)
response_text = response.text

# Define regex patterns to extract quotes and authors
quote_pattern = re.compile(r'<span class="text" itemprop="text">“([^”]+)”</span>')
author_pattern = re.compile(r'<small class="author" itemprop="author">([^<]+)</small>')

# Find all quotes and authors using regex
quotes = quote_pattern.findall(response_text)
authors = author_pattern.findall(response_text)

# Combine quotes and authors into a DataFrame
data = {'Quote': quotes, 'Author': authors}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

#### Components: Regex Pattern for Quotes


-   `r''`: The `r` before the string indicates a raw string, which means that backslashes are treated literally and not as escape characters.
-   `<span class="text" itemprop="text">`: Matches the literal string `<span class="text" itemprop="text">`. This is the HTML tag where the quote text is located.
-   `"`: Matches the opening quotation mark for the quote (curly double quote).
-   `([^"]+)`: This is a capturing group:
    -   `[` and `]`: Defines a character class.
    -   `^"`: The caret `^` inside the character class negates it, meaning "any character except the closing curly double quote".
    -   `+`: Quantifier meaning "one or more" of the preceding character class.
-   `"`: Matches the closing quotation mark for the quote (curly double quote).
-   `</span>`: Matches the literal string `</span>`, which is the closing tag for the quote.

This pattern effectively captures the text between the curly double quotes inside the specified `<span>` tag.

#### Components: Regex Pattern for Authors


-   `r''`: The `r` before the string indicates a raw string, similar to the previous pattern.
-   `<small class="author" itemprop="author">`: Matches the literal string `<small class="author" itemprop="author">`. This is the HTML tag where the author's name is located.
-   `([^<]+)`: This is a capturing group:
    -   `[` and `]`: Defines a character class.
    -   `^<`: The caret `^` inside the character class negates it, meaning "any character except the opening angle bracket `<`".
    -   `+`: Quantifier meaning "one or more" of the preceding character class.
-   `</small>`: Matches the literal string `</small>`, which is the closing tag for the author's name.

This pattern captures the text between the `<small>` tags that contain the author's name.