# Introduction to Quality Data & Engineering with Python
## Lecture 6 - Tutorial

If you haven't already installed **PostgreSQL**, download and install it from the official website.

https://www.postgresql.org/

### Task1: Install SQLAlchemy.

### Task2: Import SQLAlchemy and pandas libraries to your notebook.

### Task3: Define connection parameters to the PostgreSQL database.

These parameters include:

**USERNAME:** Username for accessing the database.

**PASSWORD:** Password for accessing the database.

**HOST:** Hostname or IP address of the database server.

**PORT:** Port number on which the database server is listening.

**DATABASE_NAME:** Name of the database you want to connect to.

In [ ]:
USERNAME = 'postgres'
PASSWORD = 'postgres'
HOST = 'localhost'
PORT = 5432
DATABASE_NAME = 'postgres'

In [ ]:
database_url = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}'
database_url

### Task4: Create a database engine.

Set the echo parameter to True if you want SQLAlchemy to log the database interactions.

### Task5: Use the connect() method on the PostgreSQL engine to establish a connection to the database

### Task6: Create authors table using SQL script shared with you below.

In [ ]:
authors_table = """ DROP TABLE if EXISTS authors;
CREATE TABLE authors (
    author_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    specialization VARCHAR(100)
);
"""

### Task7: Execute the SQL script provided below to insert sample data into the authors table

In [ ]:
authors_insert = """
INSERT INTO authors (name, specialization) VALUES
    ('Richard Feynman', 'Physics'),
    ('Brian Greene', 'Physics'),
    ('Steven Hawking', 'Physics'),
    ('Stephen Wolfram', 'Computer Science'),
    ('Claude Shannon', 'Computer Science'),
    ('John McCarthy', 'Computer Science'),
    ('Ada Lovelace', 'Computer Science'),
    ('Alan Turing', 'Computer Science'),
    ('Marie Curie', 'Chemistry'),
    ('Charles Darwin', 'Biology');
"""

### Task8: Execute a SELECT query to retrieve all data from the authors table

### Task9: Fetch data from the authors table and convert it to a DataFrame

### Task10: Create the books table using the SQL script provided below

In [ ]:
books_table = """ DROP TABLE if EXISTS books;
CREATE TABLE books (
    book_id SERIAL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    publication_year INTEGER,
    author_id INTEGER REFERENCES authors(author_id)
);
"""

### Task11: Execute the SQL script provided below to insert sample data into the books table

In [ ]:
books_insert = """
INSERT INTO books (title, publication_year, author_id) VALUES
    ('Surely You are Joking, Mr. Feynman!', 1985, 1),
    ('The Elegant Universe', 1999, 2),
    ('A Brief History of Time', 1988, 3),
    ('A New Kind of Science', 2002, 4),
    ('The Mathematical Theory of Communication', 1948, 5),
    ('Feynman Lectures on Computation', 1996, 1),
    ('Artificial Intelligence: A Modern Approach', 1995, 6),
    ('The Analytical Engine', 1843, 7),
    ('Computing Machinery and Intelligence', 1950, 8),
    ('Radioactive Substances', 1904, 9),
    ('On the Origin of Species', 1859, 10);
"""

### Task12: Execute a SELECT query to retrieve all data from the books table

### Task13: Fetch data from the books table and convert it to a DataFrame

### Task14: Execute an SQL query to join the books and authors tables and convert the result to a DataFrame

### Task15: Execute an SQL query to list of books written by Richard Feynman as a DataFrame

### Task16:  Close the connection to the PostgreSQL database

### Task17: Load the Northwind Database to PostgreSQL

https://tubcloud.tu-berlin.de/s/5rcomMN7p4QHE7x/download/northwind_postgre.sql

hint: psql -h hostname -d databasename -U username -f file.sql or with query

#### Meta commands

psql --host=localhost --username=postgres  --dbname=tuberlin

Meta commands are there to make live for a database administrator easier. Meta commands always start with a backslash (“\”) often followed by just one single character:

- \h (or \help)	displays all commands

- \h CREATE DATABASE	displays help on a specific command

- \l	list all databases

- \du	displays all users

- \c (or \connect) dbname	connect (or switch) to db called dbname

- \dt (just \d also works)	display all tables within selected db

- \i	insert records from dump

- \q	quit psql shell

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()

USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
HOST = os.getenv("HOST")
PORT = os.getenv("PORT")
DATABASE_NAME = os.getenv("DATABASE_NAME")

database_url = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}'

engine = create_engine(url=database_url, echo=True)

### Task18: Extract order information including order ID, customer contact name, and order date by performing an SQL query that joins the "Orders" table with the "Customers" table on the basis of customer IDs

### Task18: Install requests library if not installed, then import it.

### Task19: Send a GET request to retrieve posts URL ("https://jsonplaceholder.typicode.com/posts").

You must check the response code 200 (<Response [200]>).

### Task20: If the response status code 200, convert response to JSON.

### Task 21: Create a DataFrame from the JSON response and print the titles of the posts.