# Introduction to Quality Data & Engineering with Python
## Lecture 5 - Merging & GroupBy

### Task 1: Import Necessary Libraries

### Task 2: Create two DataFrames with employee names and groups.

### expected output for df1:

|  | employees | group |
| --- | --- | --- |
| 0 | john | accounting |
| 1 | dennis | engineering |
| 2 | mark | engineering |
| 3 | maria | hr |

### expected output for df2:

|  | employees | start_date |
| --- | --- | --- |
| 0 | mark | 2022 |
| 1 | john | 2018 |
| 2 | dennis | 2024 |
| 3 | maria | 2014 |

### Task 3: Concatenate DataFrames df1 and df2 along rows.

### Task4: Concatenate DataFrames df1 and df2 along rows and reset index.

### Task 5: Concatenate DataFrames df1 and df2 along columns.

### Task 6: Merge DataFrames df1 and df2 based on the 'employees' column with a left join.

In [ ]:
# merge
# It is primarily used when you want to combine DataFrames based on shared values in specific columns.

In [ ]:
# Inner Join: Returns only the rows that have matching values in both datasets.
# Left Join: Returns all rows from the left dataset and the matched rows from the right dataset. If there are no matches, it fills the missing values with NaNs.
# Right Join: Returns all rows from the right dataset and the matched rows from the left dataset. If there are no matches, it fills the missing values with NaNs.
# Outer Join: Returns all rows from both datasets and fills missing values with NaNs where there are no matches.

### Task 7: Load the first Dataset as df1

https://tubcloud.tu-berlin.de/s/y4FtN6zg8oTKZRJ/download/titanic.csv

### Task 8: Load the second Dataset as df2

https://tubcloud.tu-berlin.de/s/cjdECdwDAZXsEHi/download/titanic_kaggle.csv

### Task 9: Add a 'PassengerId' column to DataFrame df1 with values ranging from 1 to the length of the DataFrame.

### Task 10: Merge DataFrame df1 with DataFrame df2 based on the 'PassengerId' column.

### Task 11: Merge DataFrame df1 with a subset of DataFrame df2 including only the 'PassengerId' and 'Name' columns.

### Task 12: Assign DataFrame to a New Variable

### Task 12: Display summary statistics of DataFrame df.

### Task 13: Transpose the summary statistics of DataFrame df.

### Task 14: Calculate the mean age of passengers in DataFrame df

### Task 15: Calculate the mean survival rate of passengers by sex in DataFrame df.

### Task 16: Calculate the mean survival rate of passengers by sex in DataFrame df using aggregation.

### Task 17: Calculate the mean age of passengers by sex in DataFrame df using aggregation.

### Task 18: Calculate the mean and total age of passengers by sex in DataFrame df using aggregation.

### Task 19: Calculate the mean, maximum, and minimum age of passengers by sex in DataFrame df using aggregation.

### Task 20: Calculate the mean age and mean survival rate of passengers by sex in DataFrame df using aggregation.

### Task 21: Calculate the mean age and mean survival rate of passengers by sex and embarkation town in DataFrame df using aggregation.

### Task 22: Calculate the mean age, mean survival rate, and count of passengers by sex, embarkation town, and class in DataFrame df using aggregation.

### Task 23: Create a pivot table showing the survival rate of passengers by sex and embarked location in DataFrame df.

### Task 24: Create a pivot table showing the survival rate of passengers categorized by sex, embarked location, and class in DataFrame df.

### Task 25: Create a pivot table showing the values of 'fare' and 'survived' by sex and passenger class in DataFrame df.

### Task 26: Create a pivot table showing the maximum and minimum fare values by sex and passenger class in DataFrame df.